nav{
    background-color: black;
}
form{
    background-color: white;
}
h3{
    color: blue;
}
h1{
    color: blue;
    margin-left: 35%;
    font-size: 35px;
}
h2{
    color: white;
}
p{
    color: white;
}
body{
    background-image: url(./images/download.jpg);
}